<?xml version="1.0"?>
<launch>
  <group ns="coldpress">
    <include file="$(find plc_ros_bridge)/launch/plc_ros_bridge.launch">
      <arg name="pub_rate"    value="10"/>
      <arg name="config_file" value="$(find press_machine_IMC)/config/bridge_config_coldpress.yaml"/>
      <arg name="ip"          value="192.168.0.12"/>
      <arg name="plc_maker"   value="Keyence"/>
    </include>
  </group>
</launch>
